[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
"connexion[swagger-ui]" = "*"
"gevent"="*"
"flask_cors" = "*"
"Pillow" = "*"
"opencv-python" = "*"
"psycopg2" = "*"
"numpy" = "*"
"pandas" = "*"
"matplotlib" = "*"
pytz = "2022"

[requires]
python_version = "3.9"